.cell {
    width: 64px;
    height: 64px;
    border: 2px solid rgb(75, 75, 75);
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 204px;
    height: 204px;
}